services:

  bill-api:

    build:
      context: .
      dockerfile: Dockerfile

    env_file:
      - path: .env
        required: false

    environment:
      BILL_POSTGRES_HOST: bill-postgres
      BILL_POSTGRES_PORT: 5432
      BILL_KAFKA_BOOTSTRAP_SERVERS: bill-kafka-0:9092

    ports: [ 18006:8000 ]

    depends_on:
      bill-postgres:
        condition: service_healthy
      bill-kafka-0:
        condition: service_healthy